@import "../node_modules/bootstrap/scss/bootstrap";

.App {
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding: 3rem;
  .header {
    text-align: center;
    margin-bottom: 2rem;
  }
  .user-input {
    // display: flex;
    // width: 900px;
    .parcel-value-table {
      .table {
        th {
          text-align: center;
        }
        .select {
          .checkBox {
            $background-color_1: black;
            display: block;
            cursor: pointer;
            width: 10px;
            height: 10px;
            border: 2px solid rgba(255, 255, 255, 0);
            border-radius: 2px;
            position: relative;
            overflow: hidden;
            box-shadow: 0px 0px 0px 1px black;
            margin: auto;
            margin-top: 4px;
            div {
              width: 60px;
              height: 60px;
              background-color: $background-color_1;
              top: -59px;
              left: -52px;
              position: absolute;
              transform: rotateZ(45deg);
              z-index: 100;
            }
            input[type="checkbox"] {
              &:checked {
                + {
                  div {
                    left: -20px;
                    top: -20px;
                  }
                }
              }
              position: absolute;
              left: 50px;
              visibility: hidden;
            }
            .transition {
              transition: 300ms ease;
            }
          }
        }
        .input {
          input {
            width: 60px;
            outline: none;
            border-radius: 5px;
            border: 1px solid #dee2e6;
            padding-left: 4px;
          }
        }
      }
    }
  }
  .instances {
    margin-bottom: 2rem;
    .content {
      margin-top: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .resources {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }
      .right-content {
        display: flex;
        // flex-direction: column;
        gap: 10px;
        .button {
          width: fit-content;
          height: fit-content;
        }
      }
    }
    .input-group {
      display: flex;
      gap: 10px;
      // justify-content: center;
      flex-wrap: nowrap;
      align-items: center;
      .input {
        // border-radius: 0.5rem;
        // border-top-left-radius: 0.5rem;
        padding: 5px;
        border: none;
        outline: none;
        border: 2px solid black;
      }
      .label {
        display: inline-block;
        margin-bottom: 0.3rem;
        font-size: 0.9rem;
        font-weight: bold;
        color: black;
        transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
      }
    }
  }
  .available-request {
    display: flex;
    gap: 40px;
    .available {
      width: 30%;
    }
    .request {
      .table {
        th {
          text-align: center;
        }
        .select {
          .checkBox {
            $background-color_1: black;
            display: block;
            cursor: pointer;
            width: 10px;
            height: 10px;
            border: 2px solid rgba(255, 255, 255, 0);
            border-radius: 2px;
            position: relative;
            overflow: hidden;
            box-shadow: 0px 0px 0px 1px black;
            margin: auto;
            margin-top: 4px;
            div {
              width: 60px;
              height: 60px;
              background-color: $background-color_1;
              top: -59px;
              left: -52px;
              position: absolute;
              transform: rotateZ(45deg);
              z-index: 100;
            }
            input[type="checkbox"] {
              &:checked {
                + {
                  div {
                    left: -20px;
                    top: -20px;
                  }
                }
              }
              position: absolute;
              left: 50px;
              visibility: hidden;
            }
            .transition {
              transition: 300ms ease;
            }
          }
        }
        .input {
          input {
            width: 60px;
            outline: none;
            border-radius: 5px;
            border: 1px solid #dee2e6;
            padding-left: 4px;
          }
        }
      }
      width: 35%;
    }
  }
}
